<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fragata.Entities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fragata.Entities.Properties.Settings>
            <setting name="Id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nombre" serializeAs="String">
                <value />
            </setting>
            <setting name="Edad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Apellidos" serializeAs="String">
                <value />
            </setting>
            <setting name="Genero" serializeAs="String">
                <value />
            </setting>
            <setting name="DUI" serializeAs="String">
                <value />
            </setting>
            <setting name="Cargo" serializeAs="String">
                <value />
            </setting>
            <setting name="Telefono" serializeAs="String">
                <value />
            </setting>
            <setting name="HorasTrabajo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Clave" serializeAs="String">
                <value />
            </setting>
            <setting name="Fotografia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Permiso" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
        </Fragata.Entities.Properties.Settings>
    </userSettings>
</configuration>