body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI' !important;
    overflow-x: hidden;
}
.principal {
    width: 100%;
    height: 96vh;
    background: url(../imagenes/Fondo-principal-black.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    clip-path: polygon(100% 0%, 0% 0%, 0% 97.80%, 1% 97.78%, 2% 97.71%, 3% 97.60%, 4% 97.45%, 5% 97.25%, 6% 97.01%, 7% 96.73%, 8% 96.41%, 9% 96.05%, 10% 95.65%, 11% 95.23%, 12% 94.77%, 13% 94.28%, 14% 93.76%, 15% 93.22%, 16% 92.66%, 17% 92.08%, 18% 91.48%, 19% 90.88%, 20% 90.26%, 21% 89.63%, 22% 89.01%, 23% 88.38%, 24% 87.75%, 25% 87.14%, 26% 86.53%, 27% 85.93%, 28% 85.35%, 29% 84.79%, 30% 84.25%, 31% 83.74%, 32% 83.25%, 33% 82.79%, 34% 82.36%, 35% 81.97%, 36% 81.61%, 37% 81.29%, 38% 81.01%, 39% 80.77%, 40% 80.57%, 41% 80.42%, 42% 80.31%, 43% 80.24%, 44% 80.22%, 45% 80.24%, 46% 80.31%, 47% 80.42%, 48% 80.58%, 49% 80.78%, 50% 81.02%, 51% 81.30%, 52% 81.62%, 53% 81.98%, 54% 82.38%, 55% 82.80%, 56% 83.26%, 57% 83.75%, 58% 84.27%, 59% 84.81%, 60% 85.37%, 61% 85.95%, 62% 86.55%, 63% 87.16%, 64% 87.78%, 65% 88.40%, 66% 89.03%, 67% 89.66%, 68% 90.28%, 69% 90.90%, 70% 91.50%, 71% 92.10%, 72% 92.68%, 73% 93.24%, 74% 93.78%, 75% 94.29%, 76% 94.78%, 77% 95.24%, 78% 95.67%, 79% 96.06%, 80% 96.42%, 81% 96.74%, 82% 97.02%, 83% 97.26%, 84% 97.45%, 85% 97.61%, 86% 97.72%, 87% 97.78%, 88% 97.80%, 89% 97.78%, 90% 97.71%, 91% 97.60%, 92% 97.44%, 93% 97.24%, 94% 97.00%, 95% 96.72%, 96% 96.39%, 97% 96.03%, 98% 95.64%, 99% 95.21%, 100% 94.75%);
}