body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #c4c3c3;
    margin: 10px 20px;
    font-size: 19px;
    font-weight: 700;
}

.categorias-portafolio a:hover {
    text-decoration: none;
    color: #000000;
    margin: 10px 20px;
    font-size: 19px;
    font-weight: 700;
}

.activo {
    color: black;
}

.portafolio-contenedor {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
    /* Tamaño del scroll */
    .portafolio-contenedor::-webkit-scrollbar {
        width: 8px;
    }

    /* Estilos barra (thumb) de scroll */
    .portafolio-contenedor::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }

        .portafolio-contenedor::-webkit-scrollbar-thumb:active {
            background-color: #999999;
        }

        .portafolio-contenedor::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }

    /* Estilos track de scroll */
    .portafolio-contenedor::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }

        .portafolio-contenedor::-webkit-scrollbar-track:hover,
        .portafolio-contenedor::-webkit-scrollbar-track:active {
            background: #d4d4d4;
        }

header {
    padding: 40px 0;
}

    header .portafolio-logo {
        text-align: center;
        margin-bottom: 40px;
    }

        header .portafolio-logo p {
            color: #9B9B9B;
        }

    header form {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

.images {
    overflow-y: scroll;
    height: 806px !important;
}

header .barra-busqueda-portafolio {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #FFF;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

header .categorias-portafolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

    .grid.imagenes-cargadas {
        opacity: 1;
    }

    .grid .item {
        position: absolute;
        display: block;
        padding: 0;
        margin: 10px;
        width: calc(33.333333% - 20px);
    }

    .grid .item-contenido {
        position: relative;
    }

    .grid .item img {
        width: 100%;
        cursor: pointer;
        vertical-align: top;
    }



/*ventana-emergente*/

.emergente {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;

    flex-direction: column;
   

}
.boton {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
    .emergente.activo {
        display: flex;
    }


.contenido {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 148px;
    background: white;
    border-radius: 10px;
    width: 52%;
}

    .contenido img {
        width: 200px;
        height: 213px;
        object-fit: contain;
    }

.descripcion-contenido {
    text-align: center;
    width: calc(100% - 200px);
}

    .descripcion-contenido p {
        padding: 10px;
        color: gray;
        padding-left: 18px;
        text-align: left;
    }

.compra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .compra p {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }

        .compra p span {
            color: green;
        }

    .compra button {
        background: #FF8080;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
    }

.contenedor-img {
    position: relative;
}

.emergente #btn-cerrar-popup {
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 274px;
    top: 130px;
}

header .barra-busqueda-portafolio {
 
    width: 50%;
    border: 1px solid;
}

.contenedor {
    margin-top: -270px;
}
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

    .sidebar.open {
        width: 250px;
    }

    .sidebar .logo-details {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
    }

        .sidebar .logo-details .icon {
            opacity: 0;
            transition: all 0.5s ease;
        }

        .sidebar .logo-details .logo_name {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            opacity: 0;
            transition: all 0.5s ease;
        }

    .sidebar.open .logo-details .icon,
    .sidebar.open .logo-details .logo_name {
        opacity: 1;
    }

    .sidebar .logo-details #btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .sidebar.open .logo-details #btn {
        text-align: right;
    }

    .sidebar i {
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
    }

    .sidebar .nav-list {
        margin-top: 20px;
        height: 100%;
    }

    .sidebar li {
        position: relative;
        margin: 8px 0;
        list-style: none;
    }

        .sidebar li .tooltip {
            position: absolute;
            top: -20px;
            left: calc(100% + 15px);
            z-index: 3;
            background: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: 0s;
        }

        .sidebar li:hover .tooltip {
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s ease;
            top: 50%;
            transform: translateY(-50%);
        }

    .sidebar.open li .tooltip {
        display: none;
    }

    .sidebar input {
        font-size: 15px;
        color: #FFF;
        font-weight: 400;
        outline: none;
        height: 50px;
        width: 100%;
        width: 50px;
        border: none;
        border-radius: 12px;
        transition: all 0.5s ease;
        background: #1d1b31;
    }

    .sidebar.open input {
        padding: 0 20px 0 50px;
        width: 100%;
    }

    .sidebar .bx-search {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 22px;
        background: #1d1b31;
        color: #FFF;
    }

    .sidebar.open .bx-search:hover {
        background: #1d1b31;
        color: #FFF;
    }

    .sidebar .bx-search:hover {
        background: #FFF;
        color: #11101d;
    }

    .sidebar li a {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: #11101D;
    }

        .sidebar li a:hover {
            background: #FFF;
        }

        .sidebar li a .links_name {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s;
        }

    .sidebar.open li a .links_name {
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar li a:hover .links_name,
    .sidebar li a:hover i {
        transition: all 0.5s ease;
        color: #11101D;
    }

    .sidebar li i {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
    }

    .sidebar li.profile {
        position: fixed;
        height: 60px;
        width: 78px;
        left: 0;
        bottom: -8px;
        padding: 10px 14px;
        background: #1d1b31;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .sidebar.open li.profile {
        width: 250px;
    }

    .sidebar li .profile-details {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .sidebar li img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 6px;
        margin-right: 10px;
    }

    .sidebar li.profile .name,
    .sidebar li.profile .job {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;
    }

    .sidebar li.profile .job {
        font-size: 12px;
    }

    .sidebar .profile #log_out {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: #1d1b31;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-radius: 0px;
        transition: all 0.5s ease;
    }

    .sidebar.open .profile #log_out {
        width: 50px;
        background: none;
    }

.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

.showUser {
    display: none !important;
}

.Mostrar {
    display: flex !important;
}

.contenedor-productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.persona {
    justify-content: center;
    width: 30%;
    margin: 5px;
}

.portafolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botonesCategorias {
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    color: #c4c3c3;
    margin: 10px 20px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.foot {
    margin-top: 45px;
}
